@if (selectedProject()) {
        <app-project-detail-component
          [project]="selectedProject()!"
          (close)="closeTask()"
        />
}

@else {
  <div class="project-page">

  <div class="project-page__header">
    <div>
      <h1>Projects</h1>
      <p>Manage and view your projects.</p>
    </div>

    <button
      type="button"
      class="project-page__create"
      (click)="createProject()"
    >
      <span>+</span>
      New project
    </button>
  </div>

  <div class="project-grid">
    @for (project of projects(); track project.id) {
      <article class="project-card"
              (click)="openProject(project)">
        <div class="project-card__content">
          <h2>{{ project.name }}</h2>

          <p class="project-card__description">
            {{ project.description || 'No description' }}
          </p>
        </div>

        <p class="project-card__meta">
          Created on {{ project.createdAt | date:'dd/MM/yyyy' }}
        </p>
      </article>
    } @empty {
      <div class="project-empty">
        <h2>No projects</h2>
        <p>Start by creating your first project.</p>

        <button
          type="button"
          class="project-page__create"
          (click)="createProject()"
        >
          <span>+</span>
          Create project
        </button>
      </div>
    }
  </div>

</div>
}
